* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Gilroy-Semibold";
    src: url("../fonts/gilroy-semibold.ttf");
    font-style: normal;
    font-weight: 400;
    }
    
@font-face{
    font-family: "Gilroy-Bold";
    src: url("../fonts/gilroy-bold.ttf");
    font-style: normal;
    font-weight: 400;
    }
    
@font-face{
    font-family: "Gilroy-Medium";
    src: url("../fonts/gilroy-medium.ttf");
    font-style: normal;
    font-weight: 400;
    }
    
@font-face{
    font-family: "Gilroy-Regular";
    src: url("../fonts/gilroy-regular.ttf");
    font-style: normal;
    font-weight: 400;
    }

.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.header {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items:center;
}

a {
    text-decoration: none;
}

.header-logo-text {
    font-family: "Gilroy-Bold";
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.hint-text {
    color: #F25822;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
}

.home-link{
    font-family: "Gilroy-SemiBold"
}

.header-menu-links {
    font-family: "Gilroy-Medium";
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.intro{
    padding-top: 84px;
    display: flex;
    gap: 41px;

}

.intro-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-family: "Gilroy-Bold";
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.text {
    font-family: "Gilroy-Medium";
    padding-top: 17px;
    display: flex;
    padding-right: 56px;
    color: #888;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;

}

.button {
    padding-top: 37px;
    display: flex;
    gap: 72px;
}

.button-start {
    border-radius: 50px;
    padding: 15px 35px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px;
    border: none;
    font-family: "Gilroy-Bold";
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
}

.button-watch {
    font-family: "Gilroy-Bold";
    color: #AAA;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    border: none;
    background: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
    padding-bottom: 96px;
}

.main {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-card {
    width: 370px;
    height: 291px;
    flex-shrink: 0;
    border: 1px solid #000;
}

.main-card-img {
    padding-top: 40px;
    padding-left: 30px;
}

.main-card-data {
    padding-left: 30px;
}

.main-card-header {
    padding-top: 25px;
    padding-bottom: 17px;
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.main-card-text {
    padding-bottom: 25px;
    font-family: "Gilroy-Regular";
    color: #666;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
}

.main-card-link {
    font-family: "Gilroy-Bold";
    color: #000;
    font-size: 11px;
    font-weight: 400;
    line-height: 150%;
}

